SERVER_URL=https://governance.com
DB_URL=mongodb://localhost:27017/governance
SERVER_PORT=3000

ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345678
ADMIN_EMAIL=admin@gmail.com

BACKUP_EMAIL=admin@gmail.com

AWS_ACCESS_KEY=xxx
AWS_ACCESS_SECRET=xxx
S3_REGION=xxx
S3_BUCKET=xxx
MAILGUN_URL=xxx

MAILGUN_API_KEY=xxx
SSO_SECRET=xxx
GOOGLE_CLIENT_ID=xxx

ADMIN=xxx

CLIENT_LIMIT=10
ENDPOINT=xxx
