@import "../../../style/variable";

.right-side {
    float: right;
    top: 15px;
    right: 35px;
}

.xlogo {
    height: 64px;
    width: 100%;
}

.Header {
    max-width: $main_width;
    margin: 0 auto;
}

.ant-layout-header {
    background: transparent;
    padding: 0;
}
