@import "../../../style/variable";

.right-side {
    float: right;
    top: 15px;
    right: 35px;
}

.xlogo {
    height: 64px;
    width: 100%;
    display: flex;
}

.Header {
    max-width: $main_width;
    margin: 20px auto;

    .right-action {
        .logout {
            color: #1C7BFF;
            font-size: 18px;
            font-weight: 400;
        }

        float: right;
    }

    .header-menu {
        width: 100%;

        .ant-menu {
            float: right;
        }

        .ant-menu-horizontal {
            border-bottom: none;
        }
    }
}

.ant-layout-header {
    background: transparent;
    padding: 0;
}
