.c_loginForm{
  text-align: left;

  .action {
    text-align: center;
  }

  .d_item{
    .ant-form-item-children{
      display: flex;
      justify-content: space-between;
    }
  }

  .d_btn{
    width: 100%;
  }
}
